body {
  margin: 0;
  padding: 0;
}
body .main {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main #link-area {
  width: 100%;
  height: 150px;
  resize: none;
  overflow: hidden;
}
body .main #submit {
  margin-top: 10px;
}
body .main #main-spinner {
  display: none;
}
body .main #main-table {
  display: none;
}
/*# sourceMappingURL=style.css.map */