body{
  margin: 0;
  padding: 0;
  .main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #link-area{
      width: 100%;
      height: 150px;
      resize: none;
      overflow: hidden;
    }
    #submit{
      margin-top: 10px;
    }
    #main-spinner{
      display: none;
    }
    #main-table{
      display: none;
    }
  }
}