html
    head
        title= title
        link(rel='stylesheet', href='/style/style.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    body
        div(class="row")
            div(class="main col-10 offset-1")
                h2 Enter from 3 to 5 links, inclusive and press submit
                textarea(id="link-area")
                button(id="submit" class="btn btn-dark") Submit
                script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
                script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" crossorigin="anonymous")
                script(src="/js/script.js")
                script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        div(class="row")
            div(class="main col-10 offset-1")
                div(id="main-spinner" class="spinner-border" role="status")
                span(class="sr-only")
                table(id="main-table" class="table")
                    thead(class="thead-dark")
                        tr
                            th URL
                            th Name
                            th Cost
                    tbody